#art {
    margin-top: 20em ;
}


#move {
    margin-top: 10em;
}

#box{
    background-color: grey;
    border: 20px black;
    padding: 50px;
    margin: 20px;
    height: 600px;
}

#box2{
    margin: 10px;
    padding: 20px;
    background-color: lightskyblue;
}

